<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <form id="survey-form" class="main-form">

    <!-- Biography Survey using a table for formatting -->
    <div class="survey-section mat-shadow">
      <h2 class="sub-header">Profile</h2>


      <table class="profile-table">
        <tbody>

          <!-- Validate user input -->
          <tr>
            <td colspan="3">
              <input class="input" type="hidden" name="_csrf" value="csrfTokenGoesHereFromServer">
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
              <tr>

            <td colspan="2">
              <div>
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
              <div>

          <tr>
            <td colspan="2">
            <%= f.label :user_name %>
            <%= f.text_field :user_name %>
            </td>
          </tr>

           <tr>
            <td colspan="2">
             <%= f.label :password %>
    <%= f.text_field :password %>
            </td>
          </tr>

           <tr>
            <td colspan="2">
                <%= f.label :email %>
    <%= f.text_field :email %>
            </td>
          </tr>

           <tr>
            <td colspan="2">
            <%= f.label :biography %>
    <%= f.text_area :biography %>
            </td>
          </tr>

          <!-- Account email -->
          <tr>
            <td colspan="2">
            <div class="actions">
            <%= f.submit %>
            </div>
            </td>
          </tr>

           <tr>
            <td colspan="2">
<%= link_to '', students_path, {:class => 'glyphicon glyphicon-circle-arrow-left'} %>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
<% end %>

