<!-- Links -->
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro" rel="stylesheet"> 
  <%= stylesheet_link_tag "homes.scss" %>
<h1 class="offscreen">Byte<span>MeCollege</span></h1>
  <div id="hmenu"> 
  <%= image_tag("SJSU_Spartan_Yellow.jpg", :class => "style-image") %>
    <ul>
      <li><%= link_to 'Home', homes_path, {:class => 'button'} %> </li>
      <li><a class="button">Log in</a></li>
      <li class="dropdown">
        <!-- Select drop down menu-->
        <a class="button">Select</a>
        <div class="dropdown-content">
        <%= link_to 'Your Department', departments_path %>
        <%= link_to 'Your Major', majors_path %>
        <a href="#">Class # or Name</a>
        </div>
      </li>
    </ul>  
   
  </div> 

<table>
  <thead>
    <tr>
      <th>D name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.d_name %></td>
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path %>
