<%= form_for(major) do |f| %>
  <% if major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(major.errors.count, "error") %> prohibited this major from being saved:</h2>

      <ul>
      <% major.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Major Name</label>
    <%= f.text_field :m_name %>
  </div>
  
  
  <div class="field">
    <label>Please select a department</label>
    <%= collection_select(:major, :department_id, @departments, :id, :d_name, {}, {include_blank: true, :multiple => false, :prompt => 'Please select the department of this post'}) %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
