<table>
  <thead>
    <tr>
      <h1 class="pull-left">Majors</h1>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <table class="table table-bordered table-hover" id="tab_logic">
            <thead>
              <tr >
                <th class="text-center">
                  Major Name
                </th>
                <th class="text-center">
                  Department Name
                </th>
                <th class="text-center">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <% @majors.each do |major| %>
                <tr>
                  <td><div class="text-center"><%= major.m_name %></div></td>
                  <td><div class="text-center"><%= major.d_name %></div></td>
                  <td>
                    <div class="text-center">
                      <%= link_to 'Edit', edit_major_path(major), {:class => ' btn btn-primary'} %>
                      <%= link_to 'Destroy', major, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right btn btn-primary' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= link_to 'Department List', departments_path, {:id => 'add_row', :class => 'btn btn-primary'} %>
      <%= link_to 'New Major', new_major_path, {:id => 'add_row', :class => 'btn btn-primary'} %>
    </div>
  <br>
  <%= link_to '', root_path, {:class => 'black glyphicon glyphicon-circle-arrow-left'} %></br>
</table>

<br>
