<p id="notice"><%= notice %></p>

<p>
  <strong>P name:</strong>
  <%= @professor.p_name %>
</p>

<p>
  <strong>P info:</strong>
  <%= @professor.p_info %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
