<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Links -->
  
    <!-- End of Links -->
</head>
<body>
  
<p id="notice"><%= notice %></p>
</body>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.body %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
        </tbody>

    <br>

    <%= link_to 'New Home', new_home_path, {:class => 'newHomeStyle'} %>

</html>