<head>
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro" rel="stylesheet"> 
<%= stylesheet_link_tag "homeStyle.css" %>
<p id="notice"><%= notice %></p>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Select</a>
    <div class="dropdown-content">
      <a href="#">Your Department</a>
      <a href="#">Your Major</a>
      <a href="#">Class $ or Name</a>
    </div>
  </li>
  <h1>byte<span>meCollege<span></h1>
</ul>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.body %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
</head>