<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Links -->
  
    <!-- End of Links -->
</head>
<body>
<p id="notice"><%= notice %></p>

<div class="black-box">
<img class="img-center" src="https://p5b3tg.dm2301.livefilestore.com/y3mGeRzy9K-rcoH8pMFO-sr5XJeVlkQMyoJcPBDTyHIgBEBYxgchGGHu3Ja-GobVPLtrP-CslvdDq8XsbwrWJNk0J6hXp2NbvWzQELaUoCy8e9GbTOUmuykOYIxda52zwCkzR8AJkyd2FFunUWI1NtirL-mgSyZ1ynvOyQ_lCDAJEE?width=852&height=852&cropmode=none" alt="...">
<p class="text-center" style="">BYTEMECOLLEGE</p>
<p style="font-size: 1em">Where courses are reviewed</p>
</div>


</body>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.body %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
        </tbody>
<%= link_to 'New Home', new_home_path, {:class => 'newHomeStyle'} %>
    <br>
</html>