<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Links -->
  
    <!-- End of Links -->
</head>
<body>
<p id="notice"><%= notice %></p>

  <div class="black-box">
<img class="center-block" src="https://p5b3tg.dm2301.livefilestore.com/y3mGeRzy9K-rcoH8pMFO-sr5XJeVlkQMyoJcPBDTyHIgBEBYxgchGGHu3Ja-GobVPLtrP-CslvdDq8XsbwrWJNk0J6hXp2NbvWzQELaUoCy8e9GbTOUmuykOYIxda52zwCkzR8AJkyd2FFunUWI1NtirL-mgSyZ1ynvOyQ_lCDAJEE?width=852&height=852&cropmode=none" alt="...">
<p class="text-center" style="">BYTEMECOLLEGE</p>
<p style="font-size: 1em">Where courses are reviewed</p>
</div>

<div class="wallpaper"> <!-- Wallpaper -->
<p>Meet the team, we don't byte.</p>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
     <img src="https://03nqww.dm2301.livefilestore.com/y3micFYCaHKWddmDOJj_tDGEKV-drLKArgyjSN3VhDXCWDdLn6bSTEs2wxdaToU0TkOhpbPHIjslqLiMi4WzLVMT-PUH0WxhFjth6Bxc6YateKQB8QK71Y5t3OmZSJ_E7MUiO7ak-D7Uh_iJQ2oC7By3ZkGP9pxKdmRMUjE1DB_EA8?width=2760&height=2760&cropmode=none" class="img-circle">
     <div class="caption">
        <h3>Nathan Foster</h3>
        <a href="#" class="btn btn-primary" role="button">Resume</a>
      </div>


<img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" class="img-circle">

<img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" class="img-circle">

<img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" class="img-circle">
</a>
  </div>
</div>
</div> <!-- End of Wallpaper -->



</body>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.body %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
        </tbody>
<%= link_to 'New Home', new_home_path, {:class => 'newHomeStyle'} %>
    <br>
</html>