<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form id="survey-form" class="main-form">

    <div class="survey-section mat-shadow">
      <h2 class="sub-header">Course</h2>

      <table class="profile-table">
        <tbody>

          <!-- Validate user input -->
          <tr>
            <td colspan="3">
              <input class="input" type="hidden" name="_csrf" value="csrfTokenGoesHereFromServer">
            </td>
          </tr>

          <tr>
            <td colspan="2">
            <div class="form-group">
            <%= f.label :department_id %>
            <%= collection_select(:course, :department_id, @departments, :id, :d_name, {}, {:class => 'black', include_blank: true, :multiple => false, :prompt => 'Please select the department of this post'}) %>
              </div>
              </tr>

            <td colspan="2">
              <div class="form-group">
                  <%= f.label :course_name %>
                  <%= f.text_field :course_name, :class => "form-control" %>
              </div>

              <tr>
            <td colspan="2">
            <div class="form-group">
            <%= f.label :overall_rate %>
            <%= f.text_field :overall_rate, :class => "form-control" %>
            </td>
            </div>

            <tr>
            <td colspan="2">
            <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
            </td>
            </div>

            <tr>
            <td colspan="2">
            <div class="form-group">
            <%= f.label :units %>
            <%= f.number_field :units, :class => "form-control" %>
            </td>
            </div>

          </tr>
          <!-- Submit -->
          <tr>
            <td colspan="2">
            <div class="actions">
            <%= f.submit "Update Course", class: 'btn btn-default'  %>
            </div>
            </td>
          </tr>

                    <!-- Back -->
           <tr>
            <td colspan="2">
            <%= link_to '', :back, {:class => 'glyphicon glyphicon-circle-arrow-left'} %>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </form>

<% end %>
