<html>
<p id="notice"><%= notice %></p>
<body>




<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Select</a>
    <div class="dropdown-content">
      <a href="#">Your Department</a>
      <a href="#">Your Major</a>
      <a href="#">Class $ or Name</a>
    </div>
  </li>
  <h1>ByteMeCollege</h1>
</ul>


<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>

<button class="postButton">
       <span> <%= link_to 'New Post', new_post_path %> </span>
    </button>


</html>