<html>
<p id="notice"><%= notice %></p>
<body>
<h1>ByteMeCollege</h1>

 <div class="dropdown">
<button onclick="dropDown()" class="dropbtn">Select</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#department">Your Department</a>
    <a href="#major">Your Major</a>
    <a href="#className">Class # or name</a>
  </div>
</div>


<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>

<button class="postButton">
       <span> <%= link_to 'New Post', new_post_path %> </span>
    </button>


</html>