<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form id="survey-form" class="main-form">

    <div class="survey-section mat-shadow">
      <h2 class="sub-header">Review</h2>

      <table class="profile-table">
        <tbody>

          <!-- Validate user input -->
          <tr>
            <td colspan="3">
              <input class="input" type="hidden" name="_csrf" value="csrfTokenGoesHereFromServer">
            </td>
          </tr>

          <tr>
            <td colspan="2">
            <div class="form-group">
            <%= f.label :course_id %>
            <%= collection_select(:review, :course_id, @courses, :id, :course_name, {}, {include_blank: true, :multiple => false, :prompt => 'Please select the course'}) %>
              </div>
              </tr>

            <td colspan="2">
              <div class="form-group">
                  <%= f.label :review %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.text_area :review, :class => "form-control" %>
              </div>

          </tr>
          <!-- Submit -->
          <tr>
            <td colspan="2">
            <div class="actions">
            <%= f.submit "Create Review", class: 'btn btn-default'  %>
            </div>
            </td>
          </tr>

                    <!-- Back -->
           <tr>
            <td colspan="2">
            <%= link_to '', :back, {:class => 'glyphicon glyphicon-circle-arrow-left'} %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
<% end %>
