<p id="notice"><%= notice %></p>



<p>
  <strong><%= @review.email %>:</strong>
  <%= @review.review %>
</p>



<p>
  <strong>REPLY</strong>
</p>


        <% @replies.each do |reply| %>
<p>
  <strong><%= reply.email %>:</strong>
  <%= reply.review %>
</p>

<% end %>


<!--
<%= link_to 'Edit', edit_review_path(@review) %> |
-->
<%= link_to 'Back', reviews_path %>
